form {
    border: 1px solid #00065a;
    border-radius: 3px;
    padding: 40px;
  }

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
}

input:hover {
    color: rgb(200, 0, 255);
  }